/* =========================
   GLOBAL
========================= */
* {
    box-sizing: border-box;
}

/* =========================
   OUTER LAYOUT
========================= */
.container {
    display: grid;
    grid-template-columns: 10% 90%;
    height: 100vh;
    margin: 0;
    border: 2px solid red;
}

.sidebar {
    border: 2px solid red;
    padding: 10px;
    overflow: auto;
    height: 530px;
}

/* =========================
   MAIN CONTENT
========================= */
.main-content {
    padding: 10px;
    overflow: auto;
}

/* =========================
   ROW 1 – 4 EQUAL BOXES
========================= */
.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
}

.row1 .box {
    margin-right: 10px;
    margin-bottom: 0;
    border: 2px solid red;
    background: #fff;
    min-height: 90px;
}

.row1 .box:last-child {
    margin-right: 0;
}

/* =========================
   ROW 2 – LEFT STACK + RIGHT TALL
========================= */
.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    min-height: 310px;
}

.left-section {
    display: grid;
    grid-template-rows: auto auto;
    margin-right: 10px;
}

.left-section .box {
    margin-bottom: 10px;
    margin-right: 0;
    border: 2px solid red;
    background: #fff;
    min-height: 150px;
}

.left-section .box:last-child {
    margin-bottom: 0;
}

.right-section {
    margin-left: 0;
}

.right-section .box {
    border: 2px solid red;
    background: #fff;
    min-height: 200px;
    margin: 0;
}

.tall-box {
    height: 100%;
    min-height: 310px;
}

/* =========================
   ROW 3 – 70 / 30 SPLIT
========================= */
.row-3 {
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin-bottom: 0;
}

.row-3 .left-box {
    margin-right: 10px;
    margin-bottom: 0;
    border: 2px solid red;
    background: #fff;
    min-height: 90px;
}

.row-3 .right-box {
    margin-right: 0;
    margin-bottom: 0;
    border: 2px solid red;
    background: #fff;
    min-height: 90px;
}

/* =========================
   MOBILE RESPONSIVE
========================= */
@media (max-width: 750px) {
    .container {
        display: block;
        height: auto;
        margin: 0;
    }

    .sidebar {
        border: 2px solid red;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
        min-height: 90px;
        height: auto;
    }

    .main-content {
        display: block;
        padding: 10px;
        width: 100%;
    }

    .row1,
    .row-2,
    .row-3 {
        display: block;
        margin-bottom: 10px;
    }

    .row1 .box,
    .left-section .box,
    .right-section .box,
    .row-3 .left-box,
    .row-3 .right-box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        border: 2px solid red;
        background: #fff;
        min-height: 90px;
        display: block;
    }

    .left-section,
    .right-section {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
        display: block;
    }

    .tall-box {
        height: auto;
        min-height: 90px;
    }

    .box:last-child {
        margin-bottom: 0;
    }
}
